# Core test dependencies
pytest>=7.3.1
requests>=2.31.0

# Reporting and code quality
pytest-html>=3.2.0
pytest-cov>=4.1.0
pytest-xdist>=3.3.1

# For more flexible test configuration
pytest-env>=0.8.1
