<nav class="navbar navbar-expand-lg navbar-top navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/" aria-label="Yubico Developers home"><img src="/logo.png" alt="Yubico Developers"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarToggler">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for sect in nav -%}
          {%- if sect.hidden -%}
          {%- elif sect.active -%}
            <li class="nav-item"><a class="nav-link active fw-bold" aria-current="page" href="{{ sect.url }}">{{ sect.name }}</a></li>
          {%- else -%}
            <li class="nav-item"><a class="nav-link fw-bold" href="{{ sect.url }}">{{ sect.name }}</a></li>
          {%- endif -%}
        {%- endfor %}
      </ul>

      <!-- Google Custom Search Engine -->
      <div id="search-box" class="navbar-form navbar-right">
        <script type="text/plain" data-cookiecategory="functional">
        (function() {
          var cx = '4d44ab063517e6a2e';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://www.google.com/cse/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
        </script>
        <gcse:searchbox-only></gcse:searchbox-only>
      </div>
      <!-- End Google Custom Search Engine -->

    </div><!--/.navbar-collapse -->
  </div>
</nav>
