RewriteEngine On

RewriteBase /

# Redirect FIDO2 to WebAuthn
RewriteRule ^FIDO2/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/WebAuthn/$1 [L,R=301]
RewriteRule ^FIDO2$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/WebAuthn/ [L,R=301]

# Redirect yubihsm2 to YubiHSM2
RewriteRule ^yubihsm2/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/YubiHSM2/$1 [L,R=301]
RewriteRule ^yubihsm2$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/YubiHSM2/ [L,R=301]

# Redirect u2f to U2F
RewriteRule ^u2f/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/U2F/$1 [L,R=301]
RewriteRule ^u2f$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/U2F/ [L,R=301]

# Redirect ssh to SSH
RewriteRule ^ssh/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/SSH/$1 [L,R=301]
RewriteRule ^ssh$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/SSH/ [L,R=301]

# Redirect mobile to Mobile
RewriteRule ^mobile/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Mobile/$1 [L,R=301]
RewriteRule ^mobile$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Mobile/ [L,R=301]

# Redirect mobile to Mobile
RewriteRule ^mobile_dev/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Mobile_Dev/$1 [L,R=301]
RewriteRule ^mobile_dev$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Mobile_Dev/ [L,R=301]

# Redirect mobile to Passkeys
RewriteRule ^passkeys/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Passkeys/$1 [L,R=301]
RewriteRule ^passkeys$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Passkeys/ [L,R=301]

# Redirect yubikey5ci to Mobile
RewriteRule ^yubikey5ci/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Mobile/$1 [L,R=301]
RewriteRule ^yubikey5ci$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Mobile/ [L,R=301]

# Redirect developer-program to Developer_Program
RewriteRule ^developer-program/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Developer_Program/$1 [L,R=301]
RewriteRule ^developer-program$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/Developer_Program/ [L,R=301]

# Redirects links to releases and documentation
RewriteRule ^([0-9a-z-]+)/releases/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/$1/Releases/$2 [L,R=301]
RewriteRule ^([0-9a-z-]+)/releases.html %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/$1/Releases/ [L,R=301]
RewriteRule ^([0-9a-z-]+)/doc/(.*)$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/$1/$2 [L,R=301]

# Redirect .adocfiles to .html
RewriteCond "! -f %{REQUEST_FILENAME}"
RewriteRule ^(.*)\.adoc$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/$1.html [L,R=301]

# Error pages
ErrorDocument 404 /404.html
ErrorDocument 403 /404.html
