RewriteEngine On

RewriteBase /

# Redirect yubihsm2 to YubiHSM2
RewriteRule ^yubihsm2/(.*)$ YubiHSM2/$1 [L,R=301]
RewriteRule ^yubihsm2$ YubiHSM2/ [L,R=301]

# Redirect u2f to U2F
RewriteRule ^u2f/(.*)$ U2F/$1 [L,R=301]
RewriteRule ^u2f$ U2F/ [L,R=301]

# Redirects links to releases and documentation
RewriteRule ^([0-9a-z-]+)/releases/(.*)$ $1/Releases/$2 [L,R=301]
RewriteRule ^([0-9a-z-]+)/releases.html $1/Releases/ [L,R=301]
RewriteRule ^([0-9a-z-]+)/doc/(.*)$ $1/$2 [L,R=301]

# Redirect .adocfiles to .html
RewriteCond "! -f %{REQUEST_FILENAME}"
RewriteRule ^(.*)\.adoc$ $1.html [L,R=301]

# Error pages
ErrorDocument 404 /404.html
ErrorDocument 403 /404.html
