<h2>Releases</h2>

<dl>
  {% for entry in releases %}
  <dt>{{ entry.name }}</dt>
  <dd><a href="{{ entry.filename }}">{{ entry.filename }}</a></dd>
  <dd><a href="{{ entry.filename }}.sig">{{ entry.filename }}.sig</a></dd>
  {% endfor %}
</dl>
