#cm {
    background-color: rgb(0, 115, 164) !important;
    color: rgb(255, 255, 255) !important;
    font-family: Helvetica, sans-serif !important;
}
#c-p-bn {
    background-color: rgb(97, 162, 41) !important;
    color: rgb(255, 255, 255) !important;
}
#c-s-bn {
    background: none !important;
    border: none !important;
    color: rgb(255, 255, 255) !important;
    text-decoration: underline !important;
}