html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.nav.nav-side:empty {
  display: none;
}

.nav.nav-side ul {
  list-style-type: none;
  padding: 0 15px;
}

.nav.nav-side li.active > a {
  font-weight: bold;
}

.nav.nav-side a {
  padding: 5px 15px;
}
