html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.nav {
  font-family: "Open Sans";
}

.nav.nav-side ul {
  list-style-type: none;
}

.nav.nav-side li.active > a {
  font-weight: bold;
}

.sidelinks {
  float: right;
  margin-top: -20px;
  margin-right: -15px;
}

.sidelinks > ul {
  list-style: none;
  padding: 0;
}

.sidelinks > ul > li {
  display: inline-block;
  padding: 0.3em 1em;
  background-color: #f5f5f5;
}

/* Main page */
.jumbotron {
  background-color: #8cc041;
  background: linear-gradient(to right, #8cc041 0%,#9ed351 100%);
  color: white;
}

.buttons {
  width: 200px;
}

/* Google search */
#search-box {
  width: 350px;
  margin-top: 9px;
  margin-bottom: 5px;
}
input.gsc-input,
.gsc-input-box,
.gsc-input-box-hover,
.gsc-input-box-focus,
.gsc-search-button {
  box-sizing: content-box; 
  line-height: normal;
}

.gsc-search-box table tr td{
  padding: 0;
}

.gsc-search-box table {
  background: transparent;
}

/* Firefox specific hack */
@-moz-document url-prefix() {
  .gsib_a {
    padding: inherit !important;
  }
}
