pre { line-height: 125%; }
td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.dark .hll { background-color: #2C3B41 }
.dark pre { background: #263238 !important; color: #EEFFFF !important}
.dark .c { color: #546E7A; font-style: italic } /* Comment */
.dark .err { color: #FF5370 } /* Error */
.dark .esc { color: #89DDFF } /* Escape */
.dark .g { color: #EEFFFF } /* Generic */
.dark .k { color: #BB80B3 } /* Keyword */
.dark .l { color: #C3E88D } /* Literal */
.dark .n { color: #EEFFFF } /* Name */
.dark .o { color: #89DDFF } /* Operator */
.dark .p { color: #89DDFF } /* Punctuation */
.dark .ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
.dark .cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.dark .cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
.dark .cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
.dark .c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.dark .cs { color: #546E7A; font-style: italic } /* Comment.Special */
.dark .gd { color: #FF5370 } /* Generic.Deleted */
.dark .ge { color: #89DDFF } /* Generic.Emph */
.dark .gr { color: #FF5370 } /* Generic.Error */
.dark .gh { color: #C3E88D } /* Generic.Heading */
.dark .gi { color: #C3E88D } /* Generic.Inserted */
.dark .go { color: #546E7A } /* Generic.Output */
.dark .gp { color: #FFCB6B } /* Generic.Prompt */
.dark .gs { color: #FF5370 } /* Generic.Strong */
.dark .gu { color: #89DDFF } /* Generic.Subheading */
.dark .gt { color: #FF5370 } /* Generic.Traceback */
.dark .kc { color: #89DDFF } /* Keyword.Constant */
.dark .kd { color: #BB80B3 } /* Keyword.Declaration */
.dark .kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
.dark .kp { color: #89DDFF } /* Keyword.Pseudo */
.dark .kr { color: #BB80B3 } /* Keyword.Reserved */
.dark .kt { color: #BB80B3 } /* Keyword.Type */
.dark .ld { color: #C3E88D } /* Literal.Date */
.dark .m { color: #F78C6C } /* Literal.Number */
.dark .s { color: #C3E88D } /* Literal.String */
.dark .na { color: #BB80B3 } /* Name.Attribute */
.dark .nb { color: #82AAFF } /* Name.Builtin */
.dark .nc { color: #FFCB6B } /* Name.Class */
.dark .no { color: #EEFFFF } /* Name.Constant */
.dark .nd { color: #82AAFF } /* Name.Decorator */
.dark .ni { color: #89DDFF } /* Name.Entity */
.dark .ne { color: #FFCB6B } /* Name.Exception */
.dark .nf { color: #82AAFF } /* Name.Function */
.dark .nl { color: #82AAFF } /* Name.Label */
.dark .nn { color: #FFCB6B } /* Name.Namespace */
.dark .nx { color: #EEFFFF } /* Name.Other */
.dark .py { color: #FFCB6B } /* Name.Property */
.dark .nt { color: #FF5370 } /* Name.Tag */
.dark .nv { color: #89DDFF } /* Name.Variable */
.dark .ow { color: #89DDFF; font-style: italic } /* Operator.Word */
.dark .w { color: #EEFFFF } /* Text.Whitespace */
.dark .mb { color: #F78C6C } /* Literal.Number.Bin */
.dark .mf { color: #F78C6C } /* Literal.Number.Float */
.dark .mh { color: #F78C6C } /* Literal.Number.Hex */
.dark .mi { color: #F78C6C } /* Literal.Number.Integer */
.dark .mo { color: #F78C6C } /* Literal.Number.Oct */
.dark .sa { color: #BB80B3 } /* Literal.String.Affix */
.dark .sb { color: #C3E88D } /* Literal.String.Backtick */
.dark .sc { color: #C3E88D } /* Literal.String.Char */
.dark .dl { color: #EEFFFF } /* Literal.String.Delimiter */
.dark .sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
.dark .s2 { color: #C3E88D } /* Literal.String.Double */
.dark .se { color: #EEFFFF } /* Literal.String.Escape */
.dark .sh { color: #C3E88D } /* Literal.String.Heredoc */
.dark .si { color: #89DDFF } /* Literal.String.Interpol */
.dark .sx { color: #C3E88D } /* Literal.String.Other */
.dark .sr { color: #89DDFF } /* Literal.String.Regex */
.dark .s1 { color: #C3E88D } /* Literal.String.Single */
.dark .ss { color: #89DDFF } /* Literal.String.Symbol */
.dark .bp { color: #89DDFF } /* Name.Builtin.Pseudo */
.dark .fm { color: #82AAFF } /* Name.Function.Magic */
.dark .vc { color: #89DDFF } /* Name.Variable.Class */
.dark .vg { color: #89DDFF } /* Name.Variable.Global */
.dark .vi { color: #89DDFF } /* Name.Variable.Instance */
.dark .vm { color: #82AAFF } /* Name.Variable.Magic */
.dark .il { color: #F78C6C } /* Literal.Number.Integer.Long */