RewriteEngine On

# Redirect Yubico_OTP/ to Yubico_OTP/
RewriteBase /Software_Projects/
RewriteRule ^YubiKey_OTP/(.*)$ Yubico_OTP/$1 [L,R=301]

# Redirect Mobile_SDK/ to Mobile/
RewriteBase /Software_Projects/Mobile_SDK/
RewriteRule ^Mobile_SDK/(.*)$ ../../Mobile/$1 [L,R=301]
RewriteRule ^Mobile_SDK$ ../../Mobile/ [L,R=301]