Redirect 301 "/yubico-piv-tool/Windows-Certificate.html" "/PIV/Guides/Windows_CA_issued_certificate.html"
Redirect 301 "/yubico-piv-tool/CertificateAuthorityWithNEO.html" "/PIV/Guides/Certificate_authority.html"
Redirect 301 "/yubico-piv-tool/Certificate_Authority_with_NEO.html" "/PIV/Guides/Certificate_authority.html"
Redirect 301 "/yubico-piv-tool/Certificate_Authority.html" "/PIV/Guides/Certificate_authority.html"
Redirect 301 "/yubico-piv-tool/OS-X-Codesigning.html" "/PIV/Guides/MacOS_code_signing.html"
Redirect 301 "/yubico-piv-tool/YubiKey-NEO-PIV-Introduction.html" "/PIV/Guides/YubiKey_PIV_introduction.html"
Redirect 301 "/yubico-piv-tool/YubiKey_NEO_PIV_introduction.html" "/PIV/Guides/YubiKey_PIV_introduction.html"
Redirect 301 "/yubico-piv-tool/YubiKey_PIV_introduction.html" "/PIV/Guides/YubiKey_PIV_introduction.html"
Redirect 301 "/yubico-piv-tool/SSH_User_certificates.html" "/PIV/Guides/SSH_user_certificates.html"
Redirect 301 "/yubico-piv-tool/SSH_with_PIV_and_PKCS11.html" "/PIV/Guides/SSH_with_PIV_and_PKCS11.html"
Redirect 301 "/yubico-piv-tool/Android_code_signing.html" "/PIV/Guides/Android_code_signing.html"
