RewriteEngine On
RewriteBase /yubico-piv-tool/
RewriteRule ^Windows_certificate.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Windows_CA_issued_certificate.html [L,R=301]
RewriteRule ^Windows-Certificate.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Windows_CA_issued_certificate.html [L,R=301]
RewriteRule ^CertificateAuthorityWithNEO.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Certificate_authority.html [L,R=301]
RewriteRule ^Certificate_Authority_with_NEO.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Certificate_authority.html [L,R=301]
RewriteRule ^Certificate_Authority.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Certificate_authority.html [L,R=301]
RewriteRule ^OS-X-Codesigning.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Mac_code_signing.html [L,R=301]
RewriteRule ^OS_X_code_signing.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Mac_code_signing.html [L,R=301]
RewriteRule ^SSH_User_certificates.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/SSH_user_certificates.html [L,R=301]
RewriteRule ^SSH_with_PIV_and_PKCS11.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/SSH_with_PIV_and_PKCS11.html [L,R=301]
RewriteRule ^Android_code_signing.html$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/PIV/Guides/Android_code_signing.html [L,R=301]
RewriteRule ^yubico-piv-tool-2.2.0-mac.pkg$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/yubico-piv-tool/Releases/yubico-piv-tool-2.2.0-mac-amd64.pkg [L,R=301]
RewriteRule ^yubico-piv-tool-2.2.0-mac.pkg.sig$ %{ENV:REQUEST_PROTO}://%{HTTP_HOST}/yubico-piv-tool/Releases/yubico-piv-tool-2.2.0-mac-amd64.pkg.sig [L,R=301]
