RewriteEngine On

# Redirect Yubico_OTP/ to Yubico_OTP/
RewriteBase /Software_Projects/Yubico_OTP/
RewriteRule ^YubiKey_OTP_Codec_Libraries/(.*)$ Yubico_OTP_Codec_Libraries/$1 [L,R=301]
RewriteRule ^YubiKey_OTP_Integration_Plug-ins/(.*)$ Yubico_OTP_Integration_Plug-ins/$1 [L,R=301]
