<h2>JavaDoc</h2>
<p>Below are links to the Javadoc for the latest version and each release version, starting with the most recent version.</p>
<p>Aside from the latest version, Javadoc for pre-release versions is not available here.</p>

<p>Latest version: <a href="latest">{{latest}}</a></p>


<h3>All release versions</h3>

<dl>
  {% for version in versions %}
    <dt><a href="{{version}}">{{version}}</a></dt>
  {% endfor %}
</dl>
