<h2>Releases</h2>
<p>Below is a list of all available downloads ordered by version, starting with the most recent version.</p>
<dl>
  {% for entry in releases %}
  <dt>{{ entry.version }}</dt>
  {% for artifact in entry.files %}
  <dd><a href="{{ artifact.filename }}">{{ artifact.filename }}</a>
    {% if artifact.sig %}
      [<a href="{{ artifact.sig }}">sig</a>]
    {% endif %}
  </dd>
  {% endfor %}
  {% endfor %}
</dl>
