{% extends "boilerplate.template" %}

{% block head %}
  {% if release_feed %}
  <link rel="alternate" type="application/atom+xml" title="Releases" href="{{ release_feed }}" />
  {% endif %}
{% endblock %}

{% block body %}
  {% include "partials/navbar.template" %}

  {% if is_index %}
  <div class="container-hp">
  {% else %}
  <div class="container">
  {% endif %}
    {% if current and not no_breadcrumbs %}
    <div class="row bg-light">
      <ol class="breadcrumb">
        {% if not current -%}
          <li class="breadcrumb-item active">Home</li>
        {%- else -%}
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          {%- for sect in nav recursive %}
            {% if sect.active -%}
              {%- if not sect.id == current -%}
                <li class="breadcrumb-item"><a href="{{ sect.url }}">{{ sect.name }}</a></li>
              {%- else -%}
                <li class="breadcrumb-item active">{{ sect.name }}</li>
              {%- endif -%}
              {{ loop(sect.children) }}
            {%- endif %}
          {%- endfor %}
        {%- endif %}
      </ol>
    </div>
    {% endif %}

    <div class="row">
      {% if current and not no_nav %}
      <div class="col-md-4" style="padding-left: 0;">
        <!-- Sidebar -->
        <ul class="nav nav-side card card-body bg-light">
          {%- for sect in nav recursive -%}
            {%- if loop.depth > 0 -%}
              {% if sect.active %}
                <li class="active"><a href="{{ sect.url }}">{{ sect.name }}</a>
                {%- if sect.children -%}
                  <ul class="">
                    {{ loop(sect.children) }}
                  </ul>
                {% endif %}
              {% elif loop.depth > 1 and not sect.hidden %}
                <li><a href="{{ sect.url }}">{{ sect.name }}</a></li>
              {%- endif -%}
            {%- else -%}
              {%- if sect.active -%}
                {{ loop(sect.children) }}
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </ul>
        <!-- End sidebar -->
      </div>
      <div class="col-md-8">
      {% else %}
      <div class="col-md-12">
      {% endif %}
        <!-- Main content -->
        <div class="sidelinks">
          <ul>
            {%- for entry in sidelinks %}
            <li><a href="{{ entry.url }}">{{ entry.name }}</a></li>
            {% endfor -%}
          </ul>
        </div>
        <div id="page-content">
          {{ content }}
        </div>
        <!-- End main content -->
      </div>
  </div>
</div>
  {% include "partials/footer.template" %}

{% endblock %}
